@charset "utf-8";

*,*:after,*:before {box-sizing: border-box;}

body {width: 100%;font-family:'NGothic';}
a {text-decoration: none!important;}

header {position: relative;width: 100%;height: 140px;/*position: fixed*/;}
.center {width: 200px;margin: 0 auto;text-align: center;}
header h1 {float:left;margin: 10px 0 10px 10px;}
header h1 img {width: 70%;}
header button {background: none;border: none;text-align: right;
      cursor: pointer;float: right; margin: 25px 8px 0 0;} 
header button img {width: 50%;}

.cross {background: none; position: absolute; right: 8px; top: 8px;
    color: #fff;border: 0; line-height: 45px;font-weight: normal;cursor: pointer;
  outline: none; z-index: 100000;font-size: 3rem;}


.hammenu {z-index: 100000;font-weight: bold; font-size: 1.1rem;height: 500px;
    background: #D61717; position: fixed; width: 300px;top:64px; right: -300px;
    }

.hammenu ul {margin: 0;padding: 0;padding-top: 30px;height: 100%;font-weight: bold;}

.hammenu li {padding: 10px 0; position: relative; text-indent: 30px; }
.hammenu ul li a {color: #fff;}
.hammenu li img {position: absolute; right: 10px;}
.hammenu ul li:hover a{color: #D61717; background: #fff; }

#mobile {width: 100%;}
#mobile img {width: 100%;}


#head_mo {width: 100%;}
#head_mo img {width: 100%;}
#box {width: 100%;margin: 0 auto;}
#box ul {margin: 0 auto;text-align: center;}
#box ul li{width: 33.33%;font-size: .7rem;float: left;
      margin: 0 auto;border: .1px solid #FFF;
    padding: 10px 0 10px 0;background: #EE6983;
  color: #fff;}
  #box ul li:hover {background: #D61717;color: #fff;
    transition: all .3s;}
.line img{width: 100%;}


.menu1 {width: 95%;margin: 0 auto;}
.menu1 h3 {margin: 0 auto;text-align: center;
      margin-top: 60px;}
.menu1 li {float: left;width: 49%;
     margin: 20px 2px 0 0;}
.menu1 ul li img {width: 100%;border: .2px solid #e8e8e8;}
.menu1 ul li p {font-size: .8rem;text-align: center;
          margin-top: 3px;}     

.menu2 {width: 95%;margin: 0 auto;}
.menu2 h3 {margin: 0 auto;text-align: center;
  margin-top: 60px;}
.menu2 li {float: left;width: 49%;
               margin: 20px 2px 0 0;}
.menu2 ul li img {width: 100%;border: .2px solid #e8e8e8;}
.menu2 ul li p {font-size: .8rem;text-align: center;
                    margin-top: 3px;}
                    
.menu3 {width: 95%;margin: 0 auto;}
.menu3 h3 {margin: 0 auto;text-align: center;
  margin-top: 60px;}
.menu3 li {float: left;width: 49%;
     margin: 20px 2px 0 0;}
.menu3 ul li img {width: 100%;border: .2px solid #e8e8e8;}
.menu3 ul li p {font-size: .8rem;text-align: center;
          margin-top: 3px;}  

.menu4 {width: 95%;margin: 0 auto;}
.menu4 h3 {margin: 0 auto;text-align: center;
  margin-top: 60px;}
.menu4 li {float: left; width: 49%;
     margin: 20px 2px 0 0;}
.menu4 ul li img {width: 100%; border: .2px solid #e8e8e8;}
.menu4 ul li p {font-size: .8rem;text-align: center;
          margin-top: 3px;}  

.menu5 {width: 95%;margin: 0 auto;}
.menu5 h3 {margin: 0 auto;text-align: center;
  margin-top: 60px;}
.menu5 li {float: left;width: 49%;
     margin: 20px 2px 0 0;}
.menu5 ul li img {width: 100%;border: .2px solid #e8e8e8;}
.menu5 ul li p {font-size: .8rem;text-align: center;
          margin-top: 3px;}  

.menu6 {width: 95%;margin: 0 auto;}
.menu6 h3 {margin: 0 auto;text-align: center;
  margin-top: 60px;}
.menu6 li {float: left;width: 49%;
     margin: 20px 2px 0 0;}
.menu6 ul li img {width: 100%;border: .2px solid #e8e8e8;}
.menu6 ul li p {font-size: .8rem;text-align: center;
          margin-top: 3px;}  

.menu7 {width: 95%;margin: 0 auto;}
.menu7 h3 {margin: 0 auto;text-align: center;
  margin-top: 60px;}
.menu7 li {float: left; width: 49%;
     margin: 20px 2px 0 0;}
.menu7 ul li img {width: 100%;border: .2px solid #e8e8e8;}
.menu7 ul li p {font-size: .8rem;text-align: center;
          margin-top: 3px;}  

.menu8 {width: 95%;margin: 0 auto;}
.menu8 h3 {margin: 0 auto;text-align: center;
  margin-top: 60px;}
.menu8 li {float: left;width: 49%;
     margin: 20px 2px 0 0;}
.menu8 ul li img {width: 100%;border: .2px solid #e8e8e8;}
.menu8 ul li p {font-size: .8rem;text-align: center;
          margin-top: 3px;}  

#footer {width: 100%;margin: 30px auto;}
.f_logo {margin: 0 auto;text-align: center;
        padding-bottom: 40px;}
#footer ul {width: 100%;text-align: center;margin-bottom: 25px;}
#footer ul li {width: 20%;float: left;}
#footer ul li a {color:#D61717;font-size: .7rem;
         font-weight: bold;}
#footer ul li a:hover {color: #EE6983;}
#footer address {width: 80%;text-align: center;margin: 0 auto;
      font-weight: bold;text-decoration: none;
    font-size: .8rem;}
#footer p {margin: 20px auto;text-align: center;
     font-weight: bold;font-size: .8rem;text-decoration: none;}      

#header_pc {display: none;}
#pc {display: none;}



#topbtn {position: fixed; bottom: 220px;right: 20px;width: 8%;
    cursor: pointer;}
#topbtn img{width: 100%;}
#head_pc{display: none;}

@media screen and (min-width:641px){
  header h1 img {width: 80%;}
 
  
  #box {width: 80%;margin: 0 auto;}
  #box ul li{width: 33.33%;font-size: .9rem;float: left;
    margin: 0 auto;border: .1px solid #FFF;
  padding: 10px 0 10px 0;background: #EE6983;
color: #fff;}


.menu1 {width: 80%;margin: 0 auto;}
.menu1 h3 {margin: 0 auto;text-align: left;
      margin-top: 60px;}
.menu1 li {float: left;width: 32%;
     margin: 20px 5px 0 0;}
    

.menu2 {width: 80%;margin: 0 auto;}
.menu2 h3 {margin: 0 auto;text-align: left;
  margin-top: 60px;}
.menu2 li {float: left;width: 32%;
               margin: 20px 5px 0 0;}

                    
.menu3 {width: 80%;margin: 0 auto;}
.menu3 h3 {margin: 0 auto;text-align: left;
  margin-top: 60px;}
.menu3 li {float: left;width: 32%;
     margin: 20px 5px 0 0;}


.menu4 {width: 80%;margin: 0 auto;}
.menu4 h3 {margin: 0 auto;text-align: left;
  margin-top: 60px;}
.menu4 li {float: left; width: 32%;
     margin: 20px 5px 0 0;}


.menu5 {width: 80%;margin: 0 auto;}
.menu5 h3 {margin: 0 auto;text-align: left;
  margin-top: 60px;}
.menu5 li {float: left;width: 32%;
     margin: 20px 5px 0 0;}


.menu6 {width: 80%;margin: 0 auto;}
.menu6 h3 {margin: 0 auto;text-align: left;
  margin-top: 60px;}
.menu6 li {float: left;width: 32%;
     margin: 20px 5px 0 0;}


.menu7 {width: 80%;margin: 0 auto;}
.menu7 h3 {margin: 0 auto;text-align: left;
  margin-top: 60px;}
.menu7 li {float: left; width:32%;
     margin: 20px 5px 0 0;}

.menu8 {width: 80%;margin: 0 auto;}
.menu8 h3 {margin: 0 auto;text-align:left;
  margin-top: 60px;}
.menu8 li {float: left;width: 32%;
     margin: 20px 5px 0 0;}
  

     #footer ul li a {color:#D61717;font-size: .9rem;
      font-weight: bold;}
#topbtn {position: fixed; bottom: 220px;right: 20px;width: 7%;}

}



@media screen and (min-width:999px){

  #header_pc {display: block;}
  #header {display: none;}
  .hammenu {display: none;}
  #mobile {display: none;}
  #pc {display: block;width: 100%;}
  #pc img {width: 100%;}
  #head_mo {display: none;}
  #head_pc {display: block;}
  #head_pc img {width: 100%;}

  #header_pc{width: 100%;margin: 0 auto;}
  #pcmenu{width: 78%;margin: 0 auto;height: 170px;}
  #pcmenu h1 {margin-top: 28px;}
  #pcmenu h1 img{width: 90%;}

  #pcmenu ul{display: flex;justify-content: right;
          padding: 100px 0 0 0;}
  #pcmenu ul li {padding-right: 30px;}  
  #pcmenu ul li:last-child{padding-right: none;}   
  #pcmenu ul li a {color: #850E35;font-size: 1rem;font-weight: bold;}
  #pcmenu ul li a:hover {color:#EE6983;}  
  
#box {width: 70%;margin: 0 auto;}
#box ul {margin: 0 auto;text-align: center;}
#box ul li{width: 33.33%;font-size: 1.2rem;float: left;
      margin: 0 auto;border: .1px solid #FFF;
    padding: 10px 0 10px 0;background: #EBC7E8;
  color: #fff;font-weight: bold;}
  #box ul li:hover {background: #645CAA;color: #fff;
     transition: all .3s;}
 

.menu1 {width: 80%;margin: 0 auto;}
.menu1 h3 {margin: 0 auto;text-align: left;
      margin-top: 60px;font-size: 1.5rem;}
.menu1 li {float: left;width: 24%;
     margin: 20px 7px 0 0;}
    

.menu2 {width: 80%;margin: 0 auto;}
.menu2 h3 {margin: 0 auto;text-align: left;
  margin-top: 60px;font-size: 1.5rem;}
.menu2 li {float: left;width: 24%;
               margin: 20px 7px 0 0;}

                    
.menu3 {width: 80%;margin: 0 auto;}
.menu3 h3 {margin: 0 auto;text-align: left;
  margin-top: 60px;font-size: 1.5rem;}
.menu3 li {float: left;width: 24%;
     margin: 20px 7px 0 0;}


.menu4 {width: 80%;margin: 0 auto;}
.menu4 h3 {margin: 0 auto;text-align: left;
  margin-top: 60px;font-size: 1.5rem;}
.menu4 li {float: left; width: 24%;
     margin: 20px 7px 0 0;}


.menu5 {width: 80%;margin: 0 auto;}
.menu5 h3 {margin: 0 auto;text-align: left;
  margin-top: 60px;font-size: 1.5rem;}
.menu5 li {float: left;width: 24%;
     margin: 20px 7px 0 0;}


.menu6 {width: 80%;margin: 0 auto;}
.menu6 h3 {margin: 0 auto;text-align: left;
  margin-top: 60px;font-size: 1.5rem;}
.menu6 li {float: left;width: 24%;
     margin: 20px 7px 0 0;}


.menu7 {width: 80%;margin: 0 auto;}
.menu7 h3 {margin: 0 auto;text-align: left;
  margin-top: 60px;font-size: 1.5rem;}
.menu7 li {float: left; width:24%;
     margin: 20px 7px 0 0;}

.menu8 {width: 80%;margin: 0 auto;}
.menu8 h3 {margin: 0 auto;text-align:left;
  margin-top: 60px;font-size: 1.5rem;}
.menu8 li {float: left;width: 24%;
     margin: 20px 7px 0 0;}


#footer {margin-top: 100px;}     

#footer ul {width: 70%; margin: 0 auto;margin-bottom: 20px;}
#footer ul li a {font-size: 1rem;}

#footer address {width: 100%;text-align: center;margin: 0 auto;
  font-weight: bold;}
#footer p {margin: 20px auto;text-align: center;
 font-weight: bold;font-size: 1rem;} 
 #topbtn {position: fixed; bottom: 220px;right: 20px;width: 5%;}
}












@media screen and (min-width:1250px){
  
  #pcmenu{width: 80%;margin: 0 auto;height: 160px;}

  #pcmenu h1 img{width: 90%;}

  #pcmenu ul{display: flex;justify-content: right;
          padding: 100px 0 0 0;}
  #pcmenu ul li {padding-right: 50px;}  
  #pcmenu ul li:last-child{padding-right: none;}   
  #pcmenu ul li a {font-size: 1.19rem;}   
 
  .menu1 {width: 70%;margin: 0 auto;}
  .menu2 {width: 70%;margin: 0 auto;}
  .menu3 {width: 70%;margin: 0 auto;}
  .menu4 {width: 70%;margin: 0 auto;}
  .menu5 {width: 70%;margin: 0 auto;}
  .menu6 {width: 70%;margin: 0 auto;}
  .menu7 {width: 70%;margin: 0 auto;}
  .menu8 {width: 70%;margin: 0 auto;}
  
  #topbtn {position: fixed; bottom: 220px;right: 20px;width: 4%;}
}

